<html>
      <html lang="en">
      <head>
          <% include head %>
      </head>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="/">GUC Portfolios</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/users/profile">My Profile</a></li>
			<li><a href="/users/logout">Log out</a></li>
		</ul>  
	</div>
</nav>
       <div class="col-xs-12 col-md-8">
            <div class="row">
           <% for(var i=0; i<projects.length; i++){%>
                            <div class="card col-xs-4">
                            <h4 class="card-title"> <%= projects[i].title %></h4>
                            <img class="img" alt="No Image" src="uploads/<%=projects[i].screenshot %>">
                            <a href="<%= projects[i].URL %>" class="btn btn-primary card-link">Visit Website</a>
                             </div>
                        <% } %>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-container">
                <h3 style="margin-bottom:40px;">Add New Project</h3>
                <form class="form" method="POST" action="/users/profile">
                    <div class="form-group">
                        <label for="InputTitle">Title</label>
                        <input name = "title" type="text" class="form-control" id="InputTitle" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="InputLink">Link</label>
                        <input name = "URL" type="url" class="form-control" id="InputLink" placeholder="Link">
                    </div>
                    <div class="form-group">
                        <label for="Inputimg">Screenshot</label>
                        <input name = "screenshot" type="file" class="form-control" id="Inputimg" placeholder="Link" size="50">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>

</html>