<html>
      <html lang="en">
      <head>
          <% include head %>
      </head>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="/">GUC Portfolios</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/users/profile">My Profile</a></li>
			<li><a href="/users/logout">Log out</a></li>
		</ul>  
	</div>
</nav>

        <div class="col-xs-12 col-md-4">
            <div class="form-container">
                <h3 style="margin-bottom:40px;">Add New Project</h3>
                <form class="form" method="POST" action="/users/profile">
                    <div class="form-group">
                        <label for="InputTitle">Title</label>
                        <input name = "title" type="text" class="form-control" id="InputTitle" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="InputLink">Link</label>
                        <input name = "URL" type="url" class="form-control" id="InputLink" placeholder="Link">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>

</html>